@media screen and (max-width: 1024px) {

  body {
    padding: 0;
    width: 100%;
  }


   /*
   section-1,
  .section-1 > .article-1,
  .section-1 > .article-2-and-3-container {
    width: 100%;
    display: block;
    padding-top: 0;
  }
  */
  h1 {
    font-size: 12px;
  }

#logo,
#timerDisplay,
#get-tickets {
  display: none;
}
  .section-1 {
    width: 98%;
    margin: auto;
    padding: 0;
  }
  .article-1 {
    width: 65%;
  }

  .article-2-and-3-container{
    width: 35%;
  }
  .latest-section {
    display: block;
    width: 90%;
  }

  .latest-ul-container {
    grid-template-columns: repeat(3, 32%);
  }

  .latest-ul-container > ul {
  }

  .latest-ul-container > ul > li {
    padding-right: 10px;
  }

  .latest-ul-container > ul > li:nth-child(3) {
    display: none;
  }

  .deals {
    display: block;
    width: 90%;
  }

  .deals header {
    display: list-item;
    list-style: none;
    padding-bottom: 5px;
  }

  .deals header div a {
    padding: 5px 10px 5px 0;
  }

  .deals-row-ul {
    width: 28%;
    margin-top: 100px;
  }

  .deals-row-ul:nth-child(4) {
    display: none;
  }

   .u-row {
     width: 47%;
   }


  .footer-share-ul-2 {
    width: 40%;
    margin: auto;
    padding-left: 3%;
  }

.footer-share-ul {
  width: 40%;
  margin: auto;
}

.footer-share-ul > li {
  margin: auto;
}

 .footer-share-links2 > a {
   font-size: 8px;
   margin: auto;
 }

.footer-lower-div > p {
  width: 40%;
  margin: auto;
  text-align: center;
  font-size: 11px;
  }

}