@media screen and (max-width: 690px) {
  body {
    padding: 0;
    width: 100%;
  }

  .nav-pc,
  .article-logo {
    display: none;
  }

  .section-1,
  .section-1 > .article-1,
  .section-1 > .article-2-and-3-container {
    width: 100%;
    display: block;
    padding-top: 0;
  }

  h1 {
    font-size: 12px;
  }

  .nav-mobile {
    display: block;
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: white;
    top: 0;
    z-index: 11;
  }

  .nav-mobile > ul {
    margin-top: 0;
    height: 30px;
    display: flex;
    justify-content: space-between;
  }

  .footer-share-ul > li {
    margin: 3px;
  }

  .nav-mobile > ul > li {
    list-style: none;
    border-left: solid grey 1px;
  }

  .latest-ul-container > ul > li {
    padding-right: 10px;
  }

  .nav-mobile > ul > div > li {
    border-left: solid grey 1px;
    width: 50px;
    padding: 5px 10px;
  }

  .nav-mobile-div {
    list-style: none;
    display: flex;
  }

  .nav-yellow-section-container {
    padding: 10px;
  }

  .section-1 {
    margin-top: 90px;
  }

  .latest-section {
    display: block;
  }

  .latest-ul-container {
    display: block;
  }

  .latest-ul-container > ul {
    display: flex;
  }

  .latest-ul-container ul li a img {
    width: 85px;
    height: 85px;
  }

  .latest-ul-container > ul > li:nth-child(3) {
    display: none;
  }

  .deals {
    display: block;
    width: 90%;
  }

  .deals header {
    display: list-item;
    list-style: none;
    padding-bottom: 5px;
  }

  .deals header div {
    display: flex;
    flex-direction: column;
  }

  .footer-share-links2 > a {
    font-size: 8px;
    margin: auto;
  }

  .deals header div a {
    padding: 5px 0;
  }

  .deals-row {
    flex-direction: column;
  }

  .deals-row-ul {
    width: 100%;
  }

  .deals-row-ul:first-child {
    margin-top: 100px;
  }

  .u-row {
    width: 100%;
  }

  .footer-share-ul-2 {
    width: 40%;
    margin: auto;
    padding-left: 3%;
  }

  .footer-lower-div > p {
    width: 40%;
    margin: auto;
    text-align: center;
    font-size: 11px;
  }
}
